.u-section-1 .u-sheet-1 {
  min-height: 843px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  min-height: 654px;
  background-image: url("images/Exception-1.png");
  background-position: 50% 50%;
  --radius: 50px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 1px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 654px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 24px 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 32px 30px 0 50px;
}

.u-section-1 .u-text-2 {
  margin: 30px 30px 0 50px;
}

.u-section-1 .u-text-3 {
  margin: 18px 358px 0 50px;
}

.u-section-1 .u-image-2 {
  width: 40px;
  height: 40px;
  margin: -40px 0 0 auto;
}

.u-section-1 .u-text-4 {
  margin: -34px 39px 5px 239px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-1 .u-image-1 {
    min-height: 539px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 539px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 311px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 181px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1087px;
  }

  .u-section-1 .u-image-1 {
    min-height: 799px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-1 .u-image-1 {
    min-height: 599px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 131px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-1 .u-image-1 {
    min-height: 377px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}